* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  min-height: 30vh;
  padding: 3rem 0rem;
  overflow: hidden;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: none;
}
.hamburger button {
  display: none;
}
main {
  min-height: 70vh;
  background: #f0f1f6;
  margin-top: 10rem;
}
.hero-image img {
  width: 135%;
  position: relative;
  right: -30px;
}
.hero-description {
  margin-top: 2rem;
  text-align: center;
  padding: 2rem;
}
.hero-description h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 2rem 0rem;
}
.hero-description p {
  font-size: 2rem;
  color: #a9a8ad;
}
.hero-description button {
  border: none;
  color: white;
  background: #2acfcf;
  margin: 2rem 0rem;
  padding: 1.5rem 4rem;
  font-size: 2.5rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
.shorten-it-results {
  margin: 5rem auto;
}
.shorten-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 1rem auto 0rem auto;
  padding: 2rem;
  gap: 1.5rem;
  background-color: hsl(257, 27%, 26%);
  position: relative;
  top: -8rem;
  border-radius: 10px;
}
.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input span {
  color: red;
}
.not-visible {
  display: none;
}
.shorten-it input.red-border {
  border: 3px solid red;
}
.shorten-it input {
  outline: none;
}
.shorten-it input {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: #a9a8ad;
}
.shorten-it button {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 8px;
  background: hsl(180, 66%, 49%);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.links {
  width: 90%;
  margin: 2rem auto;
  font-size: 1.8rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  border-radius: 10px;
  gap: 1rem;
}
.link-results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.link-results span {
  color: #2acfcf;
}
.link-results button {
  border: none;
  color: white;
  background: #2acfcf;
  padding: 1rem 3rem;
  border-radius: 10px;
}
.advanced-statistics {
  text-align: center;
  width: 90%;
  margin: auto;
}
.advanced-statistics h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.advanced-statistics p {
  font-size: 1.8rem;
  color: #a9a8ad;
}
.brand-recognition,
.detailed-records,
.fully-customizable {
  background-color: white;
  margin: 7rem auto;
  position: relative;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.small-image {
  background-color: hsl(257, 27%, 26%);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
}
.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0rem 2rem 2rem 2rem;
}
.small-description h3 {
  font-size: 2.5rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vl {
  border-left: 6px solid hsl(180, 66%, 49%);
  height: 5rem;
  position: absolute;
  bottom: -50px;
}
.boost-your-links-today {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  padding: 8rem 2rem;
  gap: 1rem;
}
.boost-your-links-today h1 {
  font-size: 2.5rem;
  color: white;
}
.boost-your-links-today button {
  border: none;
  color: white;
  background: hsl(180, 66%, 49%);
  margin: 2rem 0rem;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
footer {
  background-color: hsl(260, 8%, 14%);
  color: white;
  min-height: 20vh;
  padding: 3rem 0rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}
.footer-logo,
.features,
.social-logo {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features h4 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.features ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.features li {
  list-style: none;
  color: #a9a8ad;
  font-size: 1.2rem;
  cursor: pointer;
}
.features li:hover {
  color: #2acfcf;
}
.social-logo {
  flex-direction: row;
  gap: 2rem;
}
.social-logo svg {
  cursor: pointer;
}
.social-logo path:hover {
  fill: #2acfcf;
}
@media (min-width: 840px) {
  .logo {
    display: flex;
    align-items: center;
    gap: 7rem;
  }
  .nav-links {
    display: flex;
    gap: 5rem;
  }
  .nav-links li {
    list-style: none;
    color: #a9a8ad;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  .nav-links li:hover {
    color: #2acfcf;
  }
  .hamburger {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }
  .hamburger img {
    display: none;
  }
  .hamburger button {
    display: block;
    border: none;
    color: #a9a8ad;
    background: white;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .hamburger button:hover {
    color: white;
    background: hsl(180, 66%, 49%);
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    margin: 5rem auto;
    width: 90%;
  }
  .hero-description {
    text-align: left;
    padding: 5rem 5rem 5rem 0rem;
  }
  .hero-description h1 {
    font-size: 7rem;
    line-height: 8rem;
  }
  .shorten-it {
    flex-direction: row;
    align-items: flex-start;
    padding: 5rem;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
  }
  .input span {
    color: red;
  }
  .shorten-it button {
    width: 20%;
  }
  .links {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.8rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    border-radius: 10px;
  }
  .link-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .link-results span {
    color: #2acfcf;
  }
  .link-results button {
    border: none;
    color: white;
    background: #2acfcf;
    padding: 1rem 3rem;
    border-radius: 10px;
  }
  .wrapper2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 20rem;
  }
  .advanced-statistics-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .advanced-statistics-description h1 {
    font-size: 5rem;
  }
  .advanced-statistics-description p {
    font-size: 2.5rem;
  }
  .three-divs {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 5rem auto;
    height: 55rem;
  }
  .brand-recognition,
  .detailed-records,
  .fully-customizable {
    text-align: left;
    padding: 2rem;
    position: relative;
    z-index: 10;
  }
  .brand-recognition {
    align-self: flex-start;
  }
  .fully-customizable {
    align-self: flex-end;
  }
  .wrapper1 {
    width: 90%;
    margin: auto;
    justify-content: flex-start;
  }
  .small-image {
    height: 9rem;
    width: 9rem;
    top: -60px;
  }
  .vl {
    transform: rotateZ(90deg);
    height: 3rem;
    position: absolute;
    bottom: 50%;
    right: -17px;
  }
  .boost-your-links-today h1 {
    font-size: 4rem;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
