* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  min-height: 30vh;
  padding: 3rem 0rem;
  overflow: hidden;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  min-height: 70vh;
  background: hsl(0, 0%, 75%);
  margin-top: 10rem;
}
.hero-image img {
  width: 135%;
  position: relative;
  right: -30px;
}
.hero-description {
  margin-top: 2rem;
  text-align: center;
  padding: 2rem;
}
.hero-description h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 2rem 0rem;
}
.hero-description p {
  font-size: 2rem;
  color: hsl(257, 7%, 63%);
}
.hero-description button {
  border: none;
  color: white;
  background: hsl(180, 66%, 49%);
  margin: 2rem 0rem;
  padding: 1.5rem 4rem;
  font-size: 2.5rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
.shorten-it {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  gap: 1.5rem;
  background-color: hsl(257, 27%, 26%);
  position: relative;
  top: -8rem;
}
.shorten-it input {
  border: none;
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(257, 7%, 63%);
}
.shorten-it button {
  border: none;
  padding: 1.5rem;
  border-radius: 8px;
  background: hsl(180, 66%, 49%);
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.advanced-statistics {
  text-align: center;
  width: 90%;
  margin: auto;
}
.advanced-statistics h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.advanced-statistics p {
  font-size: 1.8rem;
  color: hsl(257, 7%, 63%);
}
.brand-recognition,
.detailed-records,
.fully-customizable {
  background-color: white;
  margin: 7rem auto;
  position: relative;
}
.small-image {
  background-color: hsl(257, 27%, 26%);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
}
.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.small-description h3 {
  font-size: 2.5rem;
}
.small-description p {
  padding: 0rem 2rem 2rem 2rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vl {
  border-left: 6px solid hsl(180, 66%, 49%);
  height: 5rem;
  position: absolute;
  bottom: -50px;
}
.boost-your-links-today {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  padding: 8rem 2rem;
  gap: 1rem;
}
.boost-your-links-today h1 {
  font-size: 2.5rem;
  color: white;
}
.boost-your-links-today button {
  border: none;
  color: white;
  background: hsl(180, 66%, 49%);
  margin: 2rem 0rem;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
footer {
  background-color: hsl(260, 8%, 14%);
  color: white;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo,
.features,
.social-logo {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features h4 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.features ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.features li {
  list-style: none;
  color: hsl(257, 7%, 63%);
  font-size: 1.2rem;
}
.social-logo {
  flex-direction: row;
  gap: 2rem;
}
